.numbers-component {
  background-color: #1b1b1b;
  padding: 88px 0 113px 370px;
  gap: 100px;
  font-family: "Glacial Indifference", sans-serif;
}

.numbers-component .fa-solid {
  color: #ff434b;
  background-color: #2d2c2c;
  border-radius: 50%;
}

.task {
  margin-left: 3px;
}

.task .fa-solid {
  margin-right: 27px;
  padding: 31px;
  float: left;
}
.task .task-nums {
  float: right;
  margin-top: 15px;
}

.task-nums p:first-child {
  margin-bottom: 9px;
}
.task-nums p {
  letter-spacing: 0.2px;
}

.salling p {
  letter-spacing: 0.2px
}
.salling .fa-solid {
  padding: 29px;
  margin-right: 32px;
  float: left;
}
.salling-nums {
  float: right;
  margin-top: 14px;
  margin-right: 24px;
}
.salling-nums p:first-child {
  margin-bottom: 6px;
}

.consult .fa-solid {
  float: left;
  margin-top: 20px;
}

.consult-nums {
  float: right;
}
.consult-nums p:first-child {
  margin-bottom: 4px;
  letter-spacing: -8px;
}

.consult .fa-solid {
  margin-right: 62px;
}

.numbers-component p:first-of-type {
  color: #fff;
  font-size: 57px;
  font-weight: 700;
}

.numbers-component p:last-of-type {
  color: #cfcfcf;
  font-size: 24px;
}
