.video-component {
  color: #fff;
  background: #ff434b;
  padding-top: 162px;
  padding-bottom: 160px;
  font-family: "Glacial Indifference", sans-serif;
}
.video-component p:first-child {
  font-family: "Muli";
  font-size: 16px;
  font-weight: normal;
  line-height: 23px;
  font-style: normal;
  text-align: left;
  margin-bottom: 13px;
  margin-left: 17px;
}

.video-component h2 {
  font-size: 45px;
  font-weight: 700;
  line-height: 47px;
  text-align: center;
  padding-left: 549px;
  padding-right: 553px;
  word-spacing: 2px;
  letter-spacing: -1.2px;
  margin-bottom: 87px;
}
.video-component h2 span {
  margin-left: -8px;
}
.fa-play {
  margin-bottom: 55px;
  margin-left: -5px;
}

.video-component p:last-child {
  font-size: 15px;
  font-weight: 700;
  letter-spacing: -0.5px;
  margin-left: -9px;
}
