.header-component {
  font-family: "Muli", sans-serif;
  padding: 0 158px 74px 0;
  display: flex;
  color: #fff;  
}

.header-component img {
  margin-top: 84px;
  width: 736px;
  height: 727px;
  padding-right: 18px;  
}

.header-component h1 {
  font-family: "Glacial Indifference", sans-serif;
  font-size: 80px;
  font-weight: 700;
  line-height: 87px;
  margin-top: 233px;
  margin-bottom: 26px;
  letter-spacing: 1.5px;
  padding-left: 377px;
}

.header-component h1 span:first-child {
  margin-left: 1.8px;
}

.header-component h1 span:last-child {
  letter-spacing: 0.4px;
  margin-right: -2.9px;
}

.header-component h3 {
  font-size: 20px;
  width: 560px;
  line-height: 27.5px;
  margin: 0 0 59px 377px;
 }

.header-component button {
  width: 180px;
  height: 58px;
  background: #ee3364;
  border: none;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  word-spacing: 2px;
  padding-bottom: 12px;
  margin-left: 370px;  
  padding-left: 20px;
}
