.video-component {
  color: #fff;
  background: #ff434b;
  padding-top: 162px;
  padding-bottom: 160px;
  font-family: "Glacial Indifference", sans-serif;
}
.video-component p:first-child {
  font-family: "Muli";
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 11px;
  margin-left: 16px;
  word-spacing: -0.7px;
  letter-spacing: 0.3px;
}

.video-component h2 {
  font-size: 45px;
  font-weight: 700;
  line-height: 47px;
  text-align: center;
  padding-left: 548px;
  padding-right: 542px;
  letter-spacing: -0.5px;
  margin-bottom: 88px;
}

.fa-play {
  margin-bottom: 54px;
  margin-left: -5px;
}

.video-component p:last-child {
  font-size: 15px;
  font-weight: 700;
  word-spacing: -1.2px;
  letter-spacing: -0.5px;
  margin-left: -8px;
}
