.rectangle-component {
  margin-left: 361px;
  display: flex;
  font-family: "Glacial Indifference", sans-serif;
}

.yellow-rec1,
.yellow-rec2 {
  width: 426px;
  height: 547px;
  border-color: #000000;
  border-width: 1px;
  background: #ffa723;
}

.yellow-rec1 {
  margin-right: 173px;
  margin-top: 143px;
}

.yellow-rec2 {
  filter: drop-shadow(8.5px 14.722432136535645px 25px rgba(0, 0, 0, 0.29));
  position: absolute;
  left: 13%;
  top: 26%;
}

.relative-div {
  position: relative;
}

.solutions h3 {
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;

  letter-spacing: -0.8px;
  color: #1c1c1c;
  margin-top: 188px;
  margin-bottom: 32px;
}

.solutions p {
  font-family: "Muli", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  color: #8b8b8b;
  width: 610px;
  margin-bottom: 9px;
  padding-left: 3px;
  letter-spacing: -0.3px;
  word-spacing: -0.4px;
}

.check-list span {
  font-size: 17px;
  font-weight: 700;
  line-height: 42px;
  color: #383838;
}

.check-list i {
  color: #ee3364;
  padding: 4px;
  margin-right: 7px;
}
.check-list:last-of-type {
  margin-bottom: 44px;
}

.solutions button {
  width: 181px;
  height: 51px;

  background: #ee3364;
  border: none;
  font-family: "Muli", sans-serif;
  font-size: 14px;
  font-weight: 700;
  margin-left: 4px;
  color: #ffffff;
  text-transform: uppercase;
  padding-left: 6px;
  letter-spacing: -0.2px;
}
