.header-component {
  font-family: "Muli";
  padding: 0 162.5px 75px 374px;
  display: flex;
  color: #ffffff;
}

.header-component img {
  margin-top: 82px;
  width: 736px;
  height: 727px;
}

.header-component h1 {
  font-family: "Glacial Indifference";
  font-size: 80px;
  font-weight: 700;
  line-height: 87px;
  margin: 235px 0 22px 0;
}

.header-component h3 {
  font-size: 20px;
  font-weight: normal;
  line-height: 25px;
  width: 560px;
  line-height: 27.5px;
  word-spacing: -2.8px;
  letter-spacing: -0.16px;
  margin-left: 3px;
  margin-bottom: 59px;
}

.header-component button {
  background: #ee3364;
  border: none;
  font-size: 12px;
  font-weight: normal;
  /* text-align: center; */
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  word-spacing: 2px;
  margin-left: -4px;
  padding-bottom: 10px;
  padding-left: 19px;

  width: 180px;
  height: 58px;
}
