.top-nav {
  justify-content: space-between;
  color: #bdbcbc;
  padding: 14px 385px 17px 376px;
  filter: drop-shadow(-1.2246467996456087e-15px 20px 40px rgba(0, 0, 0, 0.15));
  background: rgba(0, 0, 0, 0.492);
  color: #fff;
}

.top-nav .mail-icon {
  margin-right: 23px;
  margin-top: 1.5px;
}

.top-nav .phone-icon {
  margin-top: 1.5px;
  margin-right: 15px;
}

.top-nav p:first-of-type {
  margin-right: 80px;
  font-size: 40px;
  opacity: 0.44;
  letter-spacing: -0.4px;
}

.top-nav p:last-of-type {
  font-size: 16px;
  opacity: 0.44;
  letter-spacing: -0.28px;
}
.socials {
  gap: 20px;
  margin-top: 1px;
}
.socials i {
  opacity: 0.44;
}
.socials i:nth-child(2) {
  margin-left: -2px;
}

.socials i:nth-child(3) {
  margin-right: 1px;
}

.socials i:hover {
  opacity: 1;
  cursor: pointer;
}
