.testimonial {
  flex-direction: column;
  font-family: "Muli", sans-serif;
}

.quote-marks {
  margin-top: 140px;
  gap: 50px;
  margin-left: 776px;
  margin-bottom: 16px;
}

.quote-marks img:first-child {
  margin-right: 12px;
}

.quote-marks :nth-child(2) {
  margin-right: 17px;
}
.author {
  font-family: "Glacial Indifference", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 27px;
  font-style: normal;
  text-align: center;
  color: #303030;
  margin-left: 34px;
}

.company {
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  font-style: normal;
  text-align: center;
  color: #c4c4c4;
  margin-left: 34px;
  margin-bottom: 14px;
}

.comment {
  font-size: 17px;
  line-height: 27px;
  text-align: center;
  color: #8d8d8d;
  width: 800px;
  margin-left: 579px;
  margin-bottom: 25px;
  word-spacing: -0.6px;
}

.dots {
  margin-left: 946px;
  gap: 9px;
  margin-bottom: 130px;
}

.sponsors {
  gap: 20px;
  gap: 133px;
  margin-left: 419px;
  padding-bottom: 9px;
}

.sponsors img:first-child {
  margin-right: 6px;
}

.sponsors img:nth-child(3) {
  margin-top: 8px;
  margin-right: -20px;
}

.sponsors img:nth-child(4) {
  margin-top: 8px;
  margin-right: -20px;
}
