footer {
  background-color: #282828;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 116px;
  padding-top: 125px;
}

.footer-txt {
  font-family: "Muli", sans-serif;
  font-size: 17px;
  font-weight: normal;
  line-height: 27px;
  font-style: normal;
  text-align: center;
  color: #a5a5a5;
  width: 633px;
  margin-bottom: 50px;
  margin-left: -5px;
  word-spacing: -1.2px;
  letter-spacing: -0.2px;
}

.noxia-logo-footer {
  font-family: "Poppins", sans-serif;
  font-size: 56px;
  font-weight: 700;
  line-height: 55px;
  color: #fff;
  margin-bottom: 28px;
  margin-left: -20px;
}

.noxia-logo-footer span {
  color: #ee3364;
}

.footer-socials {
  gap: 22px;
  padding-bottom: 70px;
}

.footer-socials i {
  color: #ee3364;
}

.footer-pinterest-icon,
.footer-twitter-icon,
.footer-google-icon {
  position: relative;
  right: 5px;
}
.footer-behance-icon {
  position: relative;
  right: 8px;
}
.footer-pinterest-icon {
  position: relative;
  right: 11px;
}
.footer-instagram-icon {
  position: relative;
  right: 12px;
}

small {
  font-size: 15px;
  font-weight: normal;
  line-height: 24px;
  font-style: normal;
  text-align: left;
  color: #a0a8b7;
  background-color: #171717;
  width: 100%;
  text-align: center;
  padding-top: 22px;
  padding-bottom: 30px;
  margin-left: -15px;
}

small span {
  color: #fff;
}
