.bottom-nav {
  color: #fff;
  border-color: #000000;
  border-width: 1px;
  font-family: "Muli", sans-serif;
  filter: drop-shadow(-1.2246467996456087e-15px 20px 40px rgba(0, 0, 0, 0.15));
  background: rgba(21, 21, 21, 0.4);
  padding: 20px 360px 20px 379px;
  gap: 45px;
}
ul {
  gap: 42px;
  list-style: none;
  margin-right: 88px;
  margin-top: -5px;
}

.shortcodes {
  margin-right: -2px;
}

.blog {
  margin-right: 3px;
}

a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
}

a:hover {
  color: #ee3364;
}

.noxia-logo {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 55px;
  font-style: normal;
  margin-right: 222px;
}

.noxia-logo span {
  color: #ee3364;
}

.cart-search {
  gap: 20px;
  position: relative;
}

.cart-search span {
  width: 15px;
  height: 15px;
  font-size: 10px;
  font-weight: 700;
  padding-top: 1.5px;
  padding-left: 2px;
  text-align: center;
  background: #ee3364;
  border-radius: 50%;
  position: absolute;
  left: 16%;
}
