.numbers-component {
  background-color: #1b1b1b;
  padding-top: 87px;
  padding-left: 370px;
  padding-bottom: 110px;
  gap: 100px;
}

.numbers-component .fa-solid {
  color: #ff434b;
  background-color: #2d2c2c;
  border-radius: 50%;
}

.task {
  margin-left: 3px;
}

.task .fa-solid {
  margin-right: 27px;
  padding: 31px;
}

.salling {
  margin-left: -2px;
}
.salling .fa-solid {
  padding: 29px;
  margin-right: 32px;
}
.consult {
  margin-left: 22px;
}

.consult .fa-solid {
  margin-right: 68px;
}

.numbers-component p:first-of-type {
  color: #fff;

  font-family: "Glacial Indifference";
  font-size: 57px;
  font-weight: 700;
}

.numbers-component p:last-of-type {
  color: #cfcfcf;
  font-family: "Glacial Indifference";
  font-size: 24px;
  /* letter-spacing: 5px; */
  color: #cfcfcf;
}
