.top-nav {
  justify-content: space-between;
  color: #bdbcbc;
  font-family: "Muli";

  padding: 15px 384px 20px 378px;
  filter: drop-shadow(-1.2246467996456087e-15px 20px 40px rgba(0, 0, 0, 0.15));

  background: rgba(0, 0, 0, 0.4);
}
.top-nav img:first-of-type {
  /* margin-right: 20px; */
}

.top-nav img:last-of-type {
  margin-right: 19px;
}

.top-nav p:first-of-type {
  margin-right: 74px;
  font-size: 18px;
}

.top-nav p:last-of-type {
  font-size: 16px;
}
.socials {
  gap: 20px;
}

.socials i:hover {
  color: #fff;
  cursor: pointer;
}
