.services {
  padding-top: 126px;
  padding-bottom: 140px;
  font-family: "Glacial Indifference", sans-serif;
}

.news {
  font-size: 13px;
  font-weight: 700;
  line-height: 36px;
  font-style: normal;
  text-align: left;
  color: #ee3364;
  text-transform: uppercase;
  margin-bottom: 8px;
  margin-left: 535px;
  padding-left: 373px;
}

.services h2 {
  font-size: 65px;
  font-weight: 700;
  line-height: 36px;
  font-style: normal;
  text-align: left;
  color: #222222;
  margin-bottom: 64px;
  margin-left: 697px;
}

/*************************/
.plan-box {
  padding-top: 70px;
  text-align: center;
  width: 370px;
  height: 530px;
  border: 4px solid #eeeeee;
  background: #ffffff;
}

.basic {
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  color: #0b0b0b;
  margin-bottom: 14px;
}
.standard {
  letter-spacing: -0.1px;
  word-spacing: 2px;
  margin-left: -2px;
}

.plan-box > p:nth-child(2) {
  font-family: "Muli", sans-serif;
  font-size: 13px;
  color: #0b0b0b;
  text-transform: uppercase;
  margin-bottom: 38px;
  margin-left: -10px;
}

.num {
  font-size: 80px;
  font-weight: 700;
  line-height: 30px;
  margin-left: 5px;
  color: #0b0b0b;
}

.cost {
  text-align: left;
  padding-left: 80px;
  margin-bottom: 63px;
}

.cost2,
.cost3 {
  margin-left: 4px;
}

.cost i {
  padding-left: 5px;
}

.plan-profits span {
  font-family: "Cambay", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 30px;
  font-style: normal;
  text-align: center;
  color: #8799a3;
}

.plan-profits p {
  font-family: "Cambay", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  color: #636363;
}

.plan-profits {
  margin-bottom: 27px;
}

.plans button {
  width: 180px;
  height: 58px;
  background: #1e1e1e;
  border: none;
  font-family: "Muli", sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  font-style: normal;
  text-align: center;
  padding-right: 10px;
  padding-bottom: 5px;
  color: #ffffff;
  letter-spacing: 1px;
}

.plans {
  margin-left: 373px;
  gap: 30px;
}

.plan-box:hover {
  background-color: #ee3364;
  color: white;
  transform: scale(1.008);
  cursor: pointer;
  border: 1px solid #ee3364;
}

.plan-box:hover .basic,
.plan-box:hover .num,
.plan-box:hover .basic + p {
  color: white;
}

.plan-box:hover .purchase-btn {
  background-color: #ee3364;
  border: 1px solid white;
}
.plan-box:hover .plan-profits p,
.plan-box:hover .plan-profits span {
  color: white;
}
