.third-component-container h1 {
  font-family: "Glacial Indifference";
  font-size: 80px;
  font-weight: 700;
  line-height: 87px;
  font-style: normal;
  text-align: left;
  color: #ffffff;
  /* width: 627px; */
}

.third-component-container h3 {
  font-family: "Muli-Regular";
  font-size: 20px;
  font-weight: normal;
  line-height: 28px;
  font-style: normal;
  text-align: left;
  color: #ffffff;
}

.third-component-container button {
  background: #ee3364;
  padding: 18px 25px 25px 25px;
  border: none;
  font-family: "Muli-Bold";
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  text-align: left;
  color: #ffffff;
}

.third-component-container img {
  width: 736px;
  height: 727px;
}
