.footer-txt {
  font-family: "Muli";
  font-size: 17px;
  font-weight: normal;
  line-height: 27px;
  font-style: normal;
  text-align: center;
  color: #a5a5a5;
  width: 633px;
  margin-bottom: 50px;
}

footer {
  background-color: #282828;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 116px;
  padding-top: 125px;
}

.noxia-logo-footer {
  font-family: "Poppins";
  font-size: 56px;
  font-weight: 700;
  line-height: 55px;
  font-style: normal;
  text-align: left;
  color: #fff;
  margin-bottom: 28px;
}

.footer-socials {
  gap: 20px;
  padding-bottom: 70px;
}

.footer-socials i {
  color: #ee3364;
}

small {
  font-family: "Muli";
  font-size: 15px;
  font-weight: normal;
  line-height: 24px;
  font-style: normal;
  text-align: left;
  color: #a0a8b7;
  background-color: #171717;
  width: 100%;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 30px;
}

small span {
  color: #fff;
}
