.component-7 {
  background-color: #1b1b1b;
  padding-top: 80px;
  padding-left: 370px;
  padding-bottom: 110px;
  gap: 100px;
}

.component-7 .fa-solid {
  color: #ff434b;
  background-color: #2d2c2c;
  border-radius: 50%;
  padding: 35px;
  margin-right: 20px;
}

.component-7 p:first-of-type {
  color: #fff;

  font-family: "Glacial Indifference";
  font-size: 57px;
  font-weight: 700;
}

.component-7 p:last-of-type {
  color: #cfcfcf;
  font-family: "Glacial Indifference";
  font-size: 24px;
  /* letter-spacing: 5px; */
  color: #cfcfcf;
}
