.highlights {
  margin-top: 153px;
  padding-left: 371px;
  padding-top: 132px;
  padding-bottom: 140px;
  background-color: #f2f2f2;
  font-family: "Glacial Indifference", sans-serif;
}

.news-event {
  font-size: 15px;
  font-weight: 700;
  line-height: 36px;
  font-style: normal;
  color: #ee3364;
  text-transform: uppercase;
  margin-bottom: 21px;
  margin-left: 534px;
}

.highlights-header {
  font-size: 65px;
  font-weight: 700;
  line-height: 36px;
  font-style: normal;
  text-align: left;
  color: #222222;
  margin-bottom: 74px;
  margin-left: 262px;
}

.cards {
  width: 1171px;
  display: grid;
  grid-template: repeat(3, 1fr) / 1fr 1fr;
  margin-bottom: 140px;
}

.card {
  width: 586.8px;
  height: 730px;
  color: #fff;
}
.card2,
.card4,
.card6 {
  width: 584.2px;
}

.card-1 {
  background-color: #545556;
}
.card-2 {
  background-color: #d3d3d3;
}
.card-3 {
  background-color: #5c5c5c;
}
.card-4,
.card-5 {
  background-color: #353535;
}
.card-6 {
  background-color: #3a3a3a;
}

.highlights button {
  width: 180px;
  height: 58px;

  background: #ee3364;
  border: none;
  font-family: "Muli", sans-serif;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  margin-left: 488px;
  padding-left: 1px;
  letter-spacing: 0.4px;
}

/*  */
.content-wrapper {
  display: none;
}

.card-header {
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  text-align: center;
  letter-spacing: 0.3px;
  padding-top: 245px;
  margin-left: -16px;
}

.card-title {
  margin: 22px 0;
  color: #ee3364;
  font-size: 14px;
  font-weight: normal;
  line-height: 13px;
  text-align: center;
  letter-spacing: 1px;
  color: #ee3364;
  margin-left: -16px;
}

.card-txt {
  font-family: "Muli", sans-serif;
  font-size: 20px;
  line-height: 27.2px;
  padding-left: 133px;
  letter-spacing: -0.45px;
  margin-bottom: 25px;
}
.card-txt span {
  margin-left: 5px;
}

.card i {
  padding-left: 260px;
}

.card:hover .content-wrapper {
  display: block;
}

.card:hover {
  cursor: pointer;
}
