* {
  box-sizing: border-box;
}

body {
  font-family: "Muli";
}

.container {
  width: 1920px;
  /* max-width: 1920px; */
}

.flex {
  display: flex;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
