* {
  box-sizing: border-box;
}

body {
  font-family: "Muli";
  overflow-x: hidden;
}

.container {
  width: 1920px;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  background: url("../images/background.png");
  background-size: cover;
}
